.footer{
  background-color: #DE685B;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: solid 5px;
  border-color: #FFFFFF;
  color: #FFFFFF;
  text-align: center;
  padding: 15px 15px;
  width: 100%;
}

.navbar{
  align-items: center;
  background-color: #DE685B;
  border-bottom: solid 5px;
  border-color: #FFFFFF;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  color: #B36F67;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  width: 100%;
}

.nav-item{
  margin-inline: 10px;
}

.navbar ul{
  display: flex;
  list-style: none;
}

.navbar ul li{
  position: relative;
}

.navbar ul li a{
  color: #000000;
  text-decoration: none;
  transition: 0.3s ease;
}

.navbar ul li a::before{
  background-color: #FFFFFF;
  bottom: 2px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transition: 0.3s ease;
  width: 0;
}

.navbar ul li a:hover{
  background-color: #D93654;
  color: #FFFFFF;
  padding: 5px 5px;
}

.navbar ul li a:hover::before{
  width: 100%;
}

.navbar-search{
  align-items: center;
  display: flex;
  transition: 0.3s ease;
  margin-left: 5px;
}

.navbar-search input{
  background-color: #FFF;
  border: none;
  border-radius: 25px;
  color: #000000;
  margin-right: 10px;
  outline: none;
  padding: 7px 15px;
  transition: 0.3s ease;
  width: 150px;
}

.navbar-search input:focus{
  width: 200px;
  background-color: #333;
}

.navbar-search input:focus{
  width: 200px;
  background-color: #FFF;
}

.navbar-search button{
  background-color: #5BD9DE;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #000000;
  margin-right: 5px;
  padding: 7px 15px;
  transition: 0.3s ease;
}

.navbar-search button:hover{
  background-color: #D93654;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #FFF;
  padding: 7px 15px;
  transition: 0.3s ease;
}

.navbar-search button:hover{
  background-color: #D93654;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  color: #FFF;
  padding: 7px 15px;
  transition: 0.3s ease;
}

.container-form{
  background-color: #F2F2F2;
  border: solid 0px;
  border-radius: 10px;
  padding: 50px 50px;
}